* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header section styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9AD9EB;
    padding: 25px 5%;
}

nav a {
    display: inline-flex;
    justify-content: space-between;
    padding-left: 10px;
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: 500;
}

/* Aout Me section styling */

#about-me {
    display: flex;
    float: left;
    width: 100%;
    padding: 35px 5%;
    background-color: darkblue;
    color: white;
}

figure {
    width: 25%
}

article {
    width: 75%;
    margin-left: 5%;
}

article h2 {
    margin-bottom: 10px;
}

figure img {
    width: 100%;
    height: auto;
}